
<ul class="legend"> {% for key,value in labels %}
    <li class="item-label" data-label="{{ key }}">
        <div class="{{ key }} legend-field ">

        </div>
        <span class="chart-label">{{ value }}</span>
    </li>
    {% endfor %}
</ul>


